.logo {
  display: block;

  outline: none;

  &[href]:hover,
  &[href]:focus {
    svg {
      fill: $accent-active;
    }
  }

  &[href]:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    .header__logo {
      .header--menu-opened & {
        svg {
          fill: $header_menu-opened;
        }
      }
    }
  }
}

.logo svg {
  display: block;
  width: 66px;
  height: 66px;

  fill: $accent;
}
