.logo {
  display: block;

  outline: none;

  &[href]:hover,
  &[href]:focus {
    svg {
      fill: $accent-active;
    }
  }

  &[href]:active {
    opacity: 0.5;
  }

  svg {
    display: block;
    width: 66px;
    height: 66px;

    fill: $accent;
  }

  @media (max-width: $tablet-width) {
    .header__logo {
      .header--menu-opened & {
        svg {
          fill: $white;
        }
      }
    }
  }

  @media (max-width: $mobile-width) {
    .logo {
      svg {
        width: 52px;
        height: 52px;
      }
    }
  }
}
