.navigation {
  @media (max-width: $tablet-width) {
    padding-top: 10px;

    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }
  }
}

.navigation__search {
  display: none;

  input {
    border-radius: 0;
    appearance: none;
  }

  @media (max-width: $tablet-width) {
    position: relative;

    display: block;
    margin-bottom: 35px;

    svg {
      @include pseudo();
      top: 50%;
      left: 12px;
      transform: translateY(-50%);

      display: block;
      width: 16px;
      height: 16px;
      fill: $header_search-icon;
    }

    input {
      display: block;
      width: 100%;
      padding: 10px;
      padding-left: 36px;

      font: inherit;
      font-size: 16px;
      line-height: 1.15;
      color: $navigation_search-text;

      border: 1px solid $navigation_search-border;
      border-radius: 20px;
      outline: none;
    }

    &:hover,
    &:focus-within {
      input {
        border: 1px solid$navigation_search-hover;
      }

      svg {
        fill: $navigation_search-hover;
      }
    }

    .header--menu-opened & {
      input {
        padding: 11px;
        padding-left: 37px;

        color: $navigation_search-menu-opened-txt;

        background-color: $navigation_search-menu-opened-bg;
        border: none;
      }

      svg {
        fill: $navigation_search-menu-opened-icon;
      }

      &:hover,
      &:focus-within {
        input {
          padding: 10px;
          padding-left: 36px;

          border: 1px solid $navigation_search-menu-opened-hover;
        }
      }
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.navigation__list {
  @include text-reset();

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  &--secondary {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: block;
    margin-left: -20px;
    margin-bottom: 15px;

    &--secondary {
      display: block;
      margin-left: -15px;
      margin-bottom: 25px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.navigation__link {
  display: block;
  padding: 18px;

  line-height: 1.5;
  color: $navigation_link;
  outline: none;

  &--login {
    display: none;
  }

  &:hover,
  &:focus {
    color: $navigation_link-hover;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    width: max-content;
    padding: 17px 20px;

    font-size: 24px;
    line-height: 1;

    .navigation__list--secondary & {
      padding: 12px 15px;
      font-size: 18px;

      color: $navigation_link-secondary;

      &:hover,
      &:focus {
        color: $navigation_link-hover;
      }
    }

    &--login {
      display: block;
      margin-left: -15px;
      margin-bottom: 40px;
      padding: 15px;

      font-size: 18px;
    }

    .header--menu-opened & {
      color: $navigation-menu-opened-link;

      &:hover,
      &:focus {
        color: $navigation-menu-opened-link-hover;
      }
    }

    .header--menu-opened .navigation__list--secondary & {
      color: $navigation_menu-opened-link-secondary;

      &:hover,
      &:focus {
        color: $navigation_menu-opened-link-hover;
      }
    }
  }

  @media (max-width: $mobile-width) {
    &--login {
      margin-bottom: 30px;
    }
  }
}
