.container {
  min-width: $mobile-width-min;
  max-width: $desktop-width-max;
  margin: 0 auto;
  padding: 0 15px;

  &--catalog {
    display: grid;
    grid-template-columns: min-content 1fr;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}
