// Fonts
$main-font: "Poppins", "Tahoma", sans-serif;
$title-font: "Cormorant Garamond", "Times New Roman", serif;

// Viewports
$mobile-width-min: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
$desktop-width-max: 1200px;

// Descriptive variables for colors
$black: #000000;
$black-light: #1d1613;

$grey-darkest: #797979;
$grey-darken: #9b9997;
$grey: #e6e6e6;
$grey-light: #f6f5f4;
$grey-lightest: #f0eae4;

$white: #ffffff;

$accent: #a87b62;
$accent-active: #564034;

// Function variables for colors

$page_text: $black-light;
$page_bg: $white;

$header_border: $grey-light;
$header_search-icon: $black;
$header_search-icon-hover: $accent;
// $header_search-border-hover: $accent;
$header_user-link: $black-light;
$header_user-link-hover: $accent;
$header_menu-closed: $black-light;
$header_menu-closed-hover: $accent;
$header_menu-opened: $white;
$header_menu-opened-hover: $accent-active;

$navigation_link: $black-light;
$navigation_link-hover: $accent;
$navigation_menu-opened-bg: $accent;

$promo_bg: rgba($accent-active, 0.7);
$promo_bg-img: $accent;
$promo_text: $white;

$filter_bg: $white;
$filter_bg-btn: $accent;
$filter_bg-scale: $grey-lightest;
$filter_border: $accent;
$filter_text: $black-light;
$filter_text-btn: $white;
$filter_bar: $accent;
$filter_btn-hover: $accent;
